/* -- Background Colors -- */
/* $bg--color-grey: #f0f0f0; */
/* -- Type Colors -- */
/* ex: $f--color-blue: #0C4EF6; */
/* -- Z-index -- */
/* $z--sidebars-icon: 9100; */
/* Load fonts */
/* font size */
/* font style */
/* Vendor prefixes to animations (revised with Autoprefixer)*/
/*
* Override bootstrap styles
*/
/* -- Navbar -- */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
  background-color: inherit; }

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
  color: grey; }

.nav > li > a:active,
.nav > li > a:hover,
.nav > li > a:focus {
  color: grey; }

.navbar {
  z-index: 9999; }

.navbar-header {
  z-index: 2; }

.navbar-toggle {
  padding: 9px 13px;
  margin-right: 0;
  border: 0; }

.navbar-toggle .icon-bar {
  background-color: black; }

.navbar-nav {
  margin: 0;
  margin-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s; }

@media (max-width: 767px) {
  .navbar-collapse {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
    z-index: -1; } }

.navbar-nav > li > a {
  outline: none;
  padding-right: 15px; }

.navbar-right ul > li > a {
  padding-right: 0;
  padding-left: 15px; }

.navbar-right .navbar-nav {
  margin: 30px;
  margin-right: 15px; }

@media (max-width: 767px) {
  .navbar-right ul > li > a {
    padding-right: 0;
    padding-left: 0; }
  .navbar-right .navbar-nav {
    margin: 0; } }

.hamburger {
  padding: 0; }

.hamburger-box {
  width: 30px;
  height: 22.5px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 3px;
  border-radius: 0; }

.slick-slide {
  outline: 0; }

.slick-prev,
.slick-next {
  z-index: 1; }

.slick-prev {
  left: 25px; }

[dir="rtl"] .slick-prev {
  right: 25px; }

.slick-next {
  right: 25px; }

[dir="rtl"] .slick-next {
  left: 25px; }

/*
* Base/global css style
*/
* {
  color: black; }
  * ::-moz-selection {
    color: white;
    background: black; }
  * ::selection {
    color: white;
    background: black; }
  * :focus {
    outline: none; }
  * ::-moz-focus-inner {
    border: 0; }
  * ::-moz-focus-outer {
    border: 0; }

a {
  color: black;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out; }
  a:hover {
    color: black;
    text-decoration: underline;
    background-color: none;
    -webkit-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }

button:active {
  outline: none;
  border: 0; }

img {
  width: 100%; }

/* -- make a video responsive -- */
.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
* Global classes
*/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.horz-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.vert-horz-align {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.fullheight {
  height: 100vh; }

.disp--none {
  display: none; }

.visb--none {
  visibility: hidden; }

.float--left {
  float: left; }

.float--right {
  float: right; }

.no-pad {
  padding: 0; }

.no-marg {
  margin: 0; }

.text--center {
  text-align: center; }

.marg--bottom-s {
  margin-bottom: 7.5px; }
  @media (min-width: 768px) {
    .marg--bottom-s {
      margin-bottom: 15px; } }

.marg--bottom-m {
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .marg--bottom-m {
      margin-bottom: 30px; } }

.marg--bottom-l {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .marg--bottom-l {
      margin-bottom: 60px; } }

/* for fullscreen video/slider
.fix-footer {
  min-height: calc(100vh - 70px);
}
*/
/* -- Footer - basic style -- */
.footer-nav {
  margin-left: 15px;
  padding: 0; }
  .footer-nav li {
    display: inline-block;
    list-style: none; }
    .footer-nav li a, .footer-nav li p {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      line-height: 20px; }

/* -- Fields  basic style -- */
.fields {
  padding: 0; }
  .fields li {
    padding-bottom: .5rem;
    list-style: none; }
  .fields span {
    font-weight: bold; }

.sidebar {
  position: fixed;
  top: 0;
  left: -50vw;
  z-index: 10002;
  width: 50vw;
  height: 100vh;
  background: grey;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll; }

.sidebar.over--active {
  left: 0; }

.sidebar__button--dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10001;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.sidebar__overlay.over--active {
  visibility: visible;
  opacity: 1; }

/* -- Slider - click to change slide -- */
.click-to-change {
  cursor: url(../img/left-arrow.png), auto; }

/* -- Slider - fullscreen -- */
.full-screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.full-screen .slick-slide {
  height: 100vh; }
  .full-screen .slick-slide div {
    width: 100vw;
    height: 100vh; }

/* -- Slider - Half image, half text -- */
@media (min-width: 768px) {
  .half-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.half-slide div {
  width: 100%;
  height: auto;
  display: inline-block;
  float: left;
  background-color: whitesmoke; }
  .half-slide div:nth-child(2) {
    /* half text */
    min-height: calc( 100vw - 30px); }
  @media (min-width: 530px) {
    .half-slide div:nth-child(2) {
      /* half text */
      max-height: calc( 100vw - 30px);
      min-height: auto; } }
  @media (min-width: 768px) {
    .half-slide div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 50%; }
      .half-slide div:nth-child(2) {
        /* half text */
        max-height: auto; } }
  .half-slide div > * {
    /* half text */
    padding: 15px; }
  .half-slide div > img {
    padding: 0; }

/* -- Table - basic style -- */
.defaultTable {
  width: 100%; }

tr {
  -ms-flex-wrap: flex;
  flex-wrap: flex;
  border-bottom: .5px solid lightgrey; }

th {
  display: none;
  padding-left: 15px;
  padding-bottom: 15px;
  border-bottom: none; }

td {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: auto;
  margin-bottom: 15px;
  padding-left: 15px; }
  td:first-of-type {
    margin-top: 30px;
    font-weight: bold; }

@media (min-width: 768px) {
  th {
    display: table-cell;
    border-bottom: 1px solid grey; }
  td {
    display: table-cell;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
    margin-bottom: 0;
    padding: 15px 0;
    padding-left: 15px; }
    td:first-of-type {
      margin-top: 0;
      font-weight: normal; } }

/* -- Thumbnail - basic style -- */
.thumb {
  margin-bottom: 30px; }
  .thumb .thumb__container {
    position: relative;
    margin-bottom: 10px; }
  .thumb img {
    display: block;
    width: 100%;
    height: auto; }
  .thumb .thumb__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.3); }
  .thumb .thumb__container:hover .thumb__overlay {
    opacity: 1; }
  .thumb .thumb__overlay > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px; }
  .thumb .thumb__title--under {
    position: relative; }

.video--Fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity; }

/*
@include breakpoint(md) {
  .contact {
    height: 20%;
  }
}

@include font-style(16, 'Replica-Mono');
*/
