/* -- Footer - basic style -- */
.footerMenu {
  position: fixed;
  z-index: 10;
  top: calc(100vh - 40px);
  width: 100%;
  padding: 0;
  text-align: center;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;

    a,p {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 15px;
      color: #AE9B6F;
      @include font-style(14, 'Quattrocento Sans');
      font-weight: 700;
      -webkit-transition: color 0.4s;
              transition: color 0.4s;
      line-height: 20px;
    }
  }
}
