.logo {
  width: 200px;
  height: auto;
}

.navbar-right {
  margin-top: 20px;
  ul > li {
    & > a {
      color: #AE9B6F;
      @include font-style(14, 'Quattrocento Sans');
      font-weight: 700;
      -webkit-transition: opacity 0.4s;
              transition: opacity 0.4s;
    }

    &:hover a,
    &.active a,
    &.active:hover a {
      color: #AE9B6F;
      opacity: 0.5;
    }
  }
}


.navbar-brand {
  position: absolute;
  float: none;
}
