- var bodyClass = '';
block vars

doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    block title
      title MA Static Seed
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:title", content="")
    meta(property="og:type", content="")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    link(rel="icon", href="/favicon.ico", sizes="any")
    link(rel="icon", href="/favicon.svg", type="image/svg+xml")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="manifest", href="/site.webmanifest")

    link(rel="stylesheet", href="/assets/css/main.scss")

    meta(name="theme-color", content="#fafafa")

    block head

  body(class=bodyClass)

    block content

    script(type="module", src="/assets/js/main.module.js")

    block scripts
