- var bodyClass = '';
block vars

doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    block title
      title MA Static Seed
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    meta(property="og:title", content="")
    meta(property="og:type", content="")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    link(rel="manifest", href="site.webmanifest")
    link(rel="apple-touch-icon", href="icon.png")
    // Place favicon.ico in the root directory

    link(rel="stylesheet", href="/assets/vendors/sanitize.css/sanitize.css")
    link(rel="stylesheet", href="/assets/css/main.css")

    meta(name="theme-color", content="#fafafa")

    block head

  body(class=bodyClass)

    block content

    script(src="/assets/vendors/html5-boilerplate/js/vendor/modernizr-3.11.2.min.js")
    script(src="/assets/vendors/html5-boilerplate/js/plugins.js")
    script(src="/assets/js/main.js")

    block scripts
