<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>MA Static Seed</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="stylesheet" href="assets/vendor/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

{{#> body-tag }}
<body>
{{/body-tag}}

  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header>
    {{#> header}}
    {{/header}}
  </header>


  <main>
    {{#> content}}
    {{/content}}
  </main>

  <footer>
    {{#> footer}}
    {{/footer}}
  </footer>


  <script src="assets/vendor/html5-boilerplate/dist/js/vendor/modernizr-3.11.2.min.js"></script>

  <script src="assets/js/main.js"></script>

  {{#> scripts}}
  {{/scripts}}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID.
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview');
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
   -->
</body>

</html>
