/*
* Base/global css style
*/
* {
  color: black;

  ::-moz-selection {
    color: white;
    background: black;
  }

  ::selection {
    color: white;
    background: black;
  }

  :focus { outline: none; }
  ::-moz-focus-inner { border: 0; }
  ::-moz-focus-outer { border: 0; }
}

a {
  color: black;
  @include transition (color .1s ease-in-out);
  &:hover {
    color: black;
    text-decoration: underline;
    background-color: none;
    @include transition (color .1s ease-in-out);
  }
}

button:active {
  outline:none;
  border: 0;
}

img {
  width: 100%;
}

/* -- make a video responsive -- */
.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*
* Global classes
*/
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horz-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.vert-horz-align {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.fullheight { height: 100vh; }

.disp--none { display: none; }

.visb--none { visibility: hidden; }

.float--left { float: left; }

.float--right { float: right; }

.no-pad { padding: 0; }

.no-marg { margin: 0; }

.text--center { text-align: center; }

.marg--bottom-s {
  margin-bottom: 7.5px;
  @include breakpoint(sm) {
    margin-bottom: 15px;
  }
}

.marg--bottom-m {
  margin-bottom: 15px;
  @include breakpoint(sm) {
    margin-bottom: 30px;
  }
}

.marg--bottom-l {
  margin-bottom: 30px;
  @include breakpoint(sm) {
    margin-bottom: 60px;
  }
}

/* for fullscreen video/slider
.fix-footer {
  min-height: calc(100vh - 70px);
}
*/
