/* -- Slider - click to change slide -- */
.clickToChange {
  cursor: url(../img/left-arrow.png), auto;
}

/* -- Slider - fullscreen -- */
.full-screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.full-screen .slick-slide {
  height: 100vh;
  div {
    width: 100vw;
    height: 100vh;
  }
}

/* -- Slider - Half image, half text -- */
.halfSlide {

  @include breakpoint(sm) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  div {
    width: 100%;
    height: auto;
    display: inline-block;
    float: left;
    background-color: rgb(245,245,245);

    &:nth-child(2){ /* half text */
      min-height: calc( 100vw - 30px );
    }
    @include breakpoint(xs) {
      &:nth-child(2){ /* half text */
        max-height: calc( 100vw - 30px );
        min-height: auto;
      }
    }

    @include breakpoint(sm) {
      -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
      width: 50%;

      &:nth-child(2){ /* half text */
        max-height: auto;
      }
    }

    & > * { /* half text */
      padding: 15px;
    }

    & > img {
      padding: 0;
    }

  }
}
