/* -- Thumbnail - basic style -- */
.thumb {
  margin-bottom: 30px;

  .thumb__container {
    position: relative;
    margin-bottom: 10px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .thumb__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.3);
  }

  .thumb__container:hover .thumb__overlay {
    opacity: 1;
  }

  .thumb__overlay > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }

  .thumb__title--under {
    position: relative;
  }
}
